<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="GatewaySwitch" value="All"/>
    </switches>
    <trace autoflush="true" indentsize="4" />
    <sources>
      <source name="GatewaySource" switchName="GatewaySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="PBCaGw.Services.GWConsoleTraceListener, PBCaGw" traceOutputOptions="None">
            <filter type="PBCaGw.Services.GWCriticalStartStopFilter, PBCaGw" />
            <!-- <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="None">-->
            <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/> -->
            <!-- <filter type="System.Diagnostic.SourceFilter" initializeData=""/>-->
          </add>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <!--<add key="gatewayName" value="PBGW"/>
    <add key="configURL" value="https://inventory.psi.ch/soap/gatewayConfig.aspx?gateway="/>-->
  </appSettings>
</configuration>