<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <switches>
      <add name="GatewaySwitch" value="All"/>
    </switches>
    <trace autoflush="true" indentsize="4" />
    <sources>
      <source name="GatewaySource" switchName="GatewaySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="fileLogger" type="PBCaGw.Services.GWFileTraceListener, PBCaGw" initializeData="c:\temp\gw.log" traceOutputOptions="None">
            <!--<filter type="PBCaGw.Services.GWCriticalStartStopFilter, PBCaGw" />-->
          </add>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="gatewayName" value="HIPA-CAGW02"/>
    <add key="configURL" value="https://inventory.psi.ch/soap/gatewayConfig.aspx?gateway="/>
  </appSettings>
</configuration>
