<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="e#ServerList" value="172.22.200.117:5062"/>
    <add key="GatewayName" value="HIPA-CAGW02"/>
    <add key="ServiceName" value="Epics Gateway"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
